.DS_Store
.vscode
*.pyc
data-at-bat-api/.env
data-at-bat-api/target/
data/raw/*
data/processed/*
app/GEMINI.md

# data files
ml-pipeline/data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep